* {
    margin: 0;
    padding: 0;
}

.rotation {
    overflow: hidden;
    position: relative;
}

.rotation>div {
    position: absolute;
    height: 100%;
    display: flex;
}

.rotation>div>div {
    height: 100%;
}

.rotation>div img {
    width: 100%;
}

.rotation>ul {
    list-style: none;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.rotation>ul>li {
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.rotation>ul>li:not(:last-of-type) {
    margin-right: 10px;
}

.rotation .active {
    background-color: #66ccff;
}

.rotation>.left,
.rotation>.right {
    position: absolute;
    width: 6%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotation:hover>.left,
.rotation:hover>.right {
    opacity: .3;
}

.rotation>.left:hover,
.rotation>.right:hover {
    opacity: .6;
}
.rotation>.left>div,
.rotation>.right>div{
    position: relative;
    height: 40px;
    width: 100%;
}

.rotation>.left {
    left: 0;
}

.rotation>.left>div::after,
.rotation>.left>div::before{
    content: '';
    display: block;
    width: 5px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
}
.rotation>.left>div::after{
    top: 18%;
    transform: rotate(45deg);
}
.rotation>.left>div::before{
    top: 45%;
    transform: rotate(-45deg);
}
.rotation>.right {
    right: 0;
}
.rotation>.right>div::after,
.rotation>.right>div::before{
    content: '';
    display: block;
    width: 5px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
}
.rotation>.right>div::after{
    top: 18%;
    transform: rotate(-45deg);
}
.rotation>.right>div::before{
    top: 45%;
    transform: rotate(45deg);
}